@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family:  'Roboto',sans-serif;
    margin: 0;
}

body {
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px 160px;
    justify-content: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
}

.links {
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.presentation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    gap: 16px;
}

.textandbuttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 32px;
    width: 500px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mainhero {
    font-size: 38px;
    font-weight: 900;
}

.secondaryhero,
.links {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 6px;
    padding: 8px 24px;
    color: white;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.inf-title {
    padding: 32px 0;
    font-weight: bold;
    font-size: 36px;
    color: #1f2937;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 64px;
    text-align: center;
    color: #787a7c;
    font-size: 15px;
}

.card {
    width: 200px;
}


.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight:300;
    font-style:italic;
    width: 800px;
    padding: 100px 200px;
    gap: 8px;
}

.credit {
    margin-left: auto;
    font-weight: bold;
    font-size: 26px;
}

.calltoaction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-container {
    width: 600px;
    display: flex;
    background-color: #3882F6;
    gap: 16px;
    padding: 40px 100px;
    margin: 80px 0;
    border-radius: 6px;
    align-items: flex-end;
    justify-content: space-between;
}

.cta-text {
    color: white;
}

.cta-text-main {
    font-weight: bold;
    font-size: 24px;
}

.cta-text-secondary {
    font-size: 16px;
}

.cta-button {
    background-color: #3882F6;
    border: 2px white solid;
    border-radius: 6px;
    padding: 8px 24px;
    color: white;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 25px;
}